<ion-header background="dark">
    <ion-navbar>
        <ion-title>Listado de Integrantes</ion-title>
    </ion-navbar>
</ion-header>


<ion-content home background="white" padding>
    <ul class="andes-list" *ngIf="integrantes?.length > 0">
        <li *ngFor="let integrante of integrantes">
            <div class="andes-container">
                <div class="andes-wraper">
                    <h2 class="andes-list-title">
                        <span class="andes-list-subtitle" *ngIf="integrante.esJefeHogar == 'true';else second">
                            <strong>Jefe de Hogar</strong>
                        </span>
                        <ng-template #second>
                            <ng-container *ngIf="integrante.vinculoConJefeHogar != null && integrante.vinculoConJefeHogar !='' ;else third">
                                <span class="andes-list-subtitle">
                                    <strong>{{integrante.vinculoConJefeHogar }}</strong>
                                </span>
                            </ng-container>
                        </ng-template>
                        <br>
                        <strong>{{integrante.nombre + ', ' + integrante.apellido}}</strong>
                    </h2>
                    <div class="andes-list-content">
                        <div class="columna">
                            <span class="andes-list-subtitle">{{integrante.tipoDocumento + ': ' + integrante.numeroDocumento }} </span>
                        </div>
                    </div>
                    <div class="andes-list-content">
                        <div class="columna">
                            <span class="andes-list-subtitle">{{integrante.nacionalidad + ', ' + integrante.sexo }} </span>
                        </div>
                    </div>
                    <div class="andes-list-content">
                        <div class="columna">
                            <span class="andes-list-subtitle">Fecha de nacimiento: {{ integrante.fechaNacimiento | date: "dd/MM/yyyy" }} </span>
                        </div>
                    </div>
                </div>
                <button ion-button item-end color="primary" (click)="editarIntegrante(integrante)">
                    <ion-icon name="create"></ion-icon>
                </button>
            </div>
        </li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <ion-fab right bottom>
        <button ion-fab color="dark" (click)="nuevoIntegrante()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>