<ion-header background="dark">
    <ion-navbar>
        <ion-title>Listado de Viviendas</ion-title>
    </ion-navbar>
</ion-header>

<ion-content home background="white" padding>
    <ul class="andes-list" *ngIf="viviendas?.length > 0">
        <li *ngFor="let vivienda of viviendas">
            <div class="andes-container">
                <div class="andes-wraper" (click)="listadoHogares(vivienda)">
                    <h2 class="andes-list-title">
                        Vivienda N°: <strong>{{vivienda.id}}</strong>
                    </h2>
                    <div class="andes-list-content">
                        <div class="columna">
                            <span class="andes-list-subtitle">Fecha creación:
                                {{vivienda.fechaCreacion | date: "dd/MM/yyyy - H:mm" }}hs.
                            </span>
                            <br>
                            <span class="andes-list-subtitle">Última actualización:
                                {{vivienda.fechaActualizacion | date: "dd/MM/yyyy - H:mm" }}hs.
                            </span>
                        </div>
                    </div>
                </div>
                <button ion-button item-end color="primary" (click)="editarVivienda(vivienda)">
                    <ion-icon name="create"></ion-icon>
                </button>
                <button ion-button item-end color="primary" (click)="listadoHogares(vivienda)">
                    <ion-icon name="arrow-round-forward"></ion-icon>
                </button>
            </div>
        </li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <ion-fab right bottom>
        <button ion-fab color="dark" (click)="nuevaVivienda()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>