<ion-header background="dark">
        <ion-navbar>
            <ion-title>Creación de Vivienda</ion-title>
            <ion-buttons end>
                <button ion-button round outline color="light" (click)="gotoHogar()">
                    <!-- <ion-icon name="checkmark"></ion-icon> Guardar -->Guardar
                </button>
            </ion-buttons>
        </ion-navbar>
    </ion-header>

<ion-content home background="white" padding>    
    <ion-item>
        <ion-label>Equipo Nucleo de Ref.</ion-label>
        <ion-input [(ngModel)]="vivienda.equipoNucleoReferencia" type="string"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Nro. Formulario</ion-label>
        <ion-input [(ngModel)]="vivienda.nroFormulario" type="number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Nro. Planilla</ion-label>
        <ion-input [(ngModel)]="vivienda.nroPlanilla" type="number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Nro. Parcela</ion-label>
        <ion-input [(ngModel)]="vivienda.nroParcela" type="number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Nro. Vivienda</ion-label>
        <ion-input [(ngModel)]="vivienda.nroVivienda" type="number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Nro. Hogar</ion-label>
        <ion-input [(ngModel)]="vivienda.nroHogar" type="number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Fecha visita 1</ion-label>
        <ion-datetime [(ngModel)]="vivienda.fechaVisita" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>Fecha visita 2</ion-label>
        <ion-datetime [(ngModel)]="vivienda.fechaVisita1" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>Fecha visita 3</ion-label>
        <ion-datetime [(ngModel)]="vivienda.fechaVisita2" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label>Provincia</ion-label>
        <ion-select [(ngModel)]="vivienda.provincia" multiple="false" disabled>
            <ion-option *ngFor="let prov of provincias" [value]="prov">{{prov}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label flaoating>Municipio</ion-label>
        <ion-select [(ngModel)]="vivienda.municipio" multiple="false">
            <ion-option *ngFor="let loc of provincias" [value]="loc">{{loc}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Localidad</ion-label>
        <ion-input [(ngModel)]="vivienda.localidad" type="string"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Barrio</ion-label>
        <ion-input [(ngModel)]="vivienda.barrio" type="string"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Dirección</ion-label>
        <ion-input [(ngModel)]="vivienda.direccion" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Etnia</ion-label>
        <ion-select [(ngModel)]="vivienda.etnia" multiple="false">
            <ion-option *ngFor="let loc of provincias" [value]="loc">{{loc}}</ion-option>
        </ion-select>
    </ion-item>

    <!-- <ion-item>
        <ion-label>Tipo de Zona</ion-label> -->
        <!-- <ion-list>
            <ion-radio-group>
                <ion-list-header>
                    <ion-label>Tipo de Zona</ion-label>
                </ion-list-header>

                <ion-item>
                    <ion-label>Rural</ion-label>
                    <ion-radio slot="start" value="rural"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>Urbana</ion-label>
                    <ion-radio slot="start" value="urbana"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list> -->
    <ion-item>
        <ion-label>Rural</ion-label>
        <ion-radio value="rural"></ion-radio>
    </ion-item>
    <ion-item>
        <ion-label>Urbana</ion-label>
        <ion-radio value="urbana"></ion-radio>
    </ion-item>
      
    
    <ion-item>
        <ion-label>Piso</ion-label>
        <ion-select [(ngModel)]="vivienda.materialPiso" multiple="false">
            <ion-option *ngFor="let loc of materialesPiso" [value]="loc">{{loc}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Pared</ion-label>
        <ion-select [(ngModel)]="vivienda.materialPared" multiple="false">
            <ion-option *ngFor="let loc of materialesPared" [value]="loc">{{loc}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Techo</ion-label>
        <ion-select [(ngModel)]="vivienda.materialTecho" multiple="false">
            <ion-option *ngFor="let loc of materialesTecho" [value]="loc">{{loc}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Hab s/baño s/cocina</ion-label>
        <ion-input [(ngModel)]="vivienda.cantidadHabitacionesSinServicio" type="number"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Inst. Eléctrica</ion-label>
        <ion-toggle [(ngModel)]="vivienda.tieneInstalacionesElectricas" color="primary"></ion-toggle>
    </ion-item>

    <ion-item>
        <ion-label>Trat. Basura</ion-label>
        <ion-toggle [(ngModel)]="vivienda.tieneTratamientoBasura" color="primary"></ion-toggle>
    </ion-item>

    <ion-item>
        <ion-label>Tipo de casa</ion-label>
        <ion-select [(ngModel)]="vivienda.tipoCasa" multiple="false" >
            <ion-option *ngFor="let loc of tiposCasa" [value]="loc">{{loc}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Fuente de  agua</ion-label>
        <ion-select [(ngModel)]="vivienda.fuenteAgua" multiple="false">
            <ion-option *ngFor="let loc of fuentesAgua" [value]="loc">{{loc}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Baño</ion-label>
        <ion-select [(ngModel)]="vivienda.tipoBano" multiple="false">
            <ion-option *ngFor="let loc of tiposBano" [value]="loc">{{loc}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Animales</ion-label>
    </ion-item>
    
    <ion-item>
        <ion-label>De Consumo</ion-label>
        <ion-toggle [(ngModel)]="vivienda.tieneAnimalesConsumo" color="primary"></ion-toggle>
    </ion-item>

    <ion-item>
        <ion-label>Domésticos</ion-label>
        <ion-toggle [(ngModel)]="vivienda.tieneAnimalesDomesticos" color="primary"></ion-toggle>
    </ion-item>
</ion-content>