<ion-header home>
    <page-navbar [menu]="true">
        <span nav-title> <img src="assets/svg/app-logo-blanco.svg" width="42" height="42" /> </span>
        <!-- <img src="assets/svg/app-logo-blanco.svg" width="42" height="42" /> -->
    </page-navbar>
</ion-header>

<ion-content home background="dark" padding>
    <!-- Mensaje bienvenida -->
    <div class="cabecera home">
        <div class="title-container">
            <h2 class="welcome-title" *ngIf="authService.user"> Hola {{ authService.user.nombre }}</h2>
            <h2 class="welcome-title" *ngIf="!authService.user"> Bienvenido </h2>
        </div>
    </div>

    <div class="cabecera home">
        Aca podria ir un texto explicativo
    </div>

    <!-- Menu principal Paciente logueado/validado -->
    <!-- Paciente no logueado -->
    <section class="fab-container" [ngClass]="{'show': started}" *ngIf="!isProfesional()">
        <button class="fab-principal home-button" (click)="login()">
            <img class="" src="assets/svg/andes-paciente-in.svg" *ngIf="isLogin()" alt="">
            <img class="nologin" src="assets/svg/andes-paciente-out.svg" *ngIf="!isLogin()" alt="">
        </button>
        <ul class="circle-container">

            <li class="fab-secundario">
                <div class="item-content horizontal ic-0">
                    <button class="item-icon outline circular" (click)="crearParcela()">
                        <ion-icon name="andes-turno"></ion-icon>
                    </button>
                    <div class="fab-title" (click)="crearParcela()">Crear<br>Parcela</div>
                </div>
            </li>
            <li class="fab-secundario">
                <div class="item-content horizontal ic-1">
                    <button class="item-icon outline circular" (click)="listarParcela()">
                        <ion-icon name="eye"></ion-icon>
                    </button>
                    <div class="fab-title" (click)="listarParcela()">Listado<br>Parcela</div>
                </div>
            </li>
            <li class="fab-secundario">
                <div class="item-content vertical ic-2">
                    <button class="item-icon outline circular" (click)="listarParcela()">
                        <ion-icon name="eye"></ion-icon>
                    </button>
                    <div class="fab-title" (click)="listarParcela()">Listado<br>asdsa</div>
                </div>
            </li>
            <li class="fab-secundario">
                <div class="item-content horizontal-left ic-3">
                    <button class="item-icon outline circular" (click)="reset()">
                        <ion-icon name="eye"></ion-icon>
                    </button>
                    <div class="fab-title" (click)="reset()">reset</div>
                </div>
            </li>
        </ul>
    </section>

</ion-content>