<ion-header home>
    <page-navbar [menu]="true">
        <span nav-title> <img src="assets/svg/app-logo-blanco.svg" width="42" height="42" /> </span>
        <!-- <img src="assets/svg/app-logo-blanco.svg" width="42" height="42" /> -->
    </page-navbar>
</ion-header>

<ion-content home background="dark" padding>
    <!-- Mensaje bienvenida -->
    <div class="cabecera home">
        <div class="title-container">
            <h2 class="welcome-title" *ngIf="authService.user"> Hola {{ authService.user.nombre }}</h2>
            <h2 class="welcome-title" *ngIf="!authService.user"> Bienvenido </h2>
        </div>
    </div>

    <div class="cabecera home">
        <button class="fab-principal home-button" (click)="nuevaEncuesta()">
            Nueva encuesta
        </button>

        <button class="fab-principal home-button" (click)="consultarEncuestas()">
            Consultar encuestas
        </button>
    </div>

    <!-- Menu principal Paciente logueado/validado -->
    <!-- Paciente no logueado -->
    <section class="fab-container" [ngClass]="{'show': started}" *ngIf="!isProfesional()">
        <button class="fab-principal home-button" (click)="login()">
            <img class="" src="assets/svg/andes-paciente-in.svg" *ngIf="isLogin()" alt="">
            <img class="nologin" src="assets/svg/andes-paciente-out.svg" *ngIf="!isLogin()" alt="">
        </button>
    </section>

    <!-- Menu principal Profesional -->
    <section class="fab-container" [ngClass]="{'show': started}" *ngIf="isProfesional()">
        <button class="fab-principal home-button">
            <img src="assets/svg/andes-profesional-in.svg" alt="">
        </button>
        
    </section>

</ion-content>