<ion-header background="dark">
    <ion-navbar>
        <ion-title>Listado de Hogares</ion-title>
    </ion-navbar>
</ion-header>


<ion-content home background="white" padding>
    <ul class="andes-list" *ngIf="hogares?.length > 0">
        <li *ngFor="let hogar of hogares">
            <div class="andes-container">
                <div class="andes-wraper" (click)="listadoIntegrantes(hogar)">
                    <h2 class="andes-list-title">
                        Hogar Nro.: <strong>{{hogar.id}}</strong>
                    </h2>
                    <div class="andes-list-content">
                        <div class="columna">
                            <span class="andes-list-subtitle">Fecha creación:
                                {{hogar.fechaCreacion | date: "dd/MM/yyyy - H:mm" }}hs.
                            </span>
                            <br>
                            <span class="andes-list-subtitle">Última actualización:
                                {{hogar.fechaActualizacion | date: "dd/MM/yyyy - H:mm" }}hs.
                            </span>
                            <br>
                            <span class="andes-list-subtitle">
                                <ng-container *ngIf="hogar.fechaVisita3 != null;else second">
                                    Última visita: {{hogar.fechaVisita3 | date: "dd/MM/yyyy" }}
                                </ng-container>
                                <ng-template #second>
                                    <ng-container *ngIf="hogar.fechaVisita2 != null;else third">
                                        Última visita: {{hogar.fechaVisita2 | date: "dd/MM/yyyy" }}
                                    </ng-container>
                                </ng-template>
                                <ng-template #third>
                                    <ng-container *ngIf="hogar.fechaVisita1 != null">
                                        Última visita: {{hogar.fechaVisita1 | date: "dd/MM/yyyy" }}
                                    </ng-container>
                                </ng-template>
                            </span>
                            <br>
                            <span class="andes-list-subtitle" *ngIf="hogar.jefeDeHogar?.length > 0">Jefe de Hogar:
                                {{hogar.jefeDeHogar[0].apellido + ", " + hogar.jefeDeHogar[0].nombre}}
                            </span>
                            <br>
                            <span class="andes-list-subtitle" *ngIf="hogar.integrantes?.length > 0">Cantidad de
                                integrantes:
                                {{hogar.integrantes.length}}
                            </span>
                        </div>
                    </div>
                </div>
                <button ion-button large icon-only item-end color="primary" (click)="editarHogar(hogar)">
                    <ion-icon name="create"></ion-icon>
                </button>
            </div>
        </li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <ion-fab right bottom>
        <button ion-fab color="dark" (click)="nuevoHogar()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>