<ion-header background="dark">
    <ion-navbar>
        <ion-title>Listado de Parcelas</ion-title>
    </ion-navbar>
</ion-header>

<ion-content home background="white" padding>
    <ul class="andes-list" *ngIf="parcelas?.length > 0">
        <li *ngFor="let parcela of parcelas">
            <div class="andes-container">
                <div class="andes-wraper" (click)="listadoViviendas(parcela)">
                    <h2 class="andes-list-title">
                        Parcela Nro.: <strong>{{parcela.nroParcela}}</strong>
                    </h2>
                    <div class="andes-list-content">
                        <div class="columna">
                            <span class="andes-list-subtitle">Fecha creación:
                                {{parcela.fechaCreacion | date: "dd/MM/yyyy - H:mm" }}hs.
                            </span>
                            <br>
                            <span class="andes-list-subtitle">Última actualización:
                                {{parcela.fechaActualizacion | date: "dd/MM/yyyy - H:mm" }}hs.
                            </span>
                            <br>
                            <span class="andes-list-subtitle">Ubicación:
                                {{(parcela.provincia !== null) ? (parcela.provincia) : ""}}
                                {{(parcela.municipio !== null) ? ('- ' + parcela.municipio) : ""}}
                                {{(parcela.localidad !== null) ? ('- ' + parcela.localidad) : ""}}
                            </span>
                        </div>
                    </div>
                </div>
                <button ion-button large icon-only item-end color="primary" (click)="editarParcela(parcela)">
                    <ion-icon name="create"></ion-icon>
                </button>
            </div>
        </li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <ion-fab right bottom>
        <button ion-fab color="dark" (click)="crearParcela()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>